/* ==== RESET BROWSER ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== GENERAL ==== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    background-color: #F5F0E8 ;
    color: #2C2C2C;
}

main {
    flex: 1;
    padding: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
    gap: 90px;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    font-size: 20px;
}

.hero-image img {
    width: 80%;
    height: auto;
}

.hero-image {
    width: 50%;
}

/* ==== HEADER === */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #F5F0E8;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

header a:hover {
    font-weight: bold;
}

.fa-comment {
    transform: scaleX(-1);
}

/* ==== LOGO ==== */
.logo {
    color: #3D9B6B;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.logo-icon {
    background-color: #3D9B6B;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
}

.logo-t1{
    transform: translateY(-3px);
}

.logo-t2{
    transform: translateY(3px);
}

/* ==== BUTTON ==== */
.btn-primary {
    display: inline-block;
    width: fit-content;
    background-color: #3D9B6B;
    color: white !important;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #2d7a52;
}

/* ==== DERNIERS LIVRES ==== */
.derniers-livres {
    background-color: white;
    text-align: center;
    padding: 60px 50px;
    margin: 0 -50px;
}

.derniers-livres h2 {
    margin-bottom: 120px;
    margin-top: 90px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
}

.livres-grid {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 40px;
}

.livre-card {
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding-bottom: 15px;
}

.livre-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.livre-card h3 {
    padding: 10px 10px 4px;
    font-size: 20px;
}

.livre-card p {
    padding: 10px 10px 20px;
    font-size: 16px;
    color: #888;
}

.livre-card .vendu-par {
    font-size: 12px;
    padding: 10 10px 15px;
    font-style: italic;
}

/* ==== COMMENT CA MARCHE ==== */
.comment-ca-marche {
    text-align: center;
    padding: 60px 50px;
}

.comment-ca-marche h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 15px;
}

.comment-ca-marche > p {
    max-width: 500px;
    margin: 0 auto 40px;
    font-size: 20px;
    padding: 20px;
}

.etapes {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 40px;
}

.etape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
    width: 300px;
    min-height: 150px;
    font-size: 20px;
    color: #555;
}

.btn-secondary {
    display: inline-block;
    background-color: transparent;
    color: #3D9B6B;
    border: 1px solid #3D9B6B;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #3D9B6B;
    color: white;
}

/* ==== BANNER ==== */
.banner-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* ==== NOS VALEURS ==== */
.nos-valeurs {
    padding: 60px 50px;
    max-width: 700px;
    margin: 0 auto;
}

.nos-valeurs h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 20px;
}

.nos-valeurs p {
    color: #555;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.nos-valeurs .signature {
    color: #aaa;
    font-size: 16px;
    font-style: italic;
}

.signature-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.signature-row img {
    width: 200px;
    margin-left: 200px;
}

/* ==== FOOTER ==== */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-top: 1px solid #ddd;
}

footer nav {
    display: flex;
    gap: 30px;
}

footer nav a {
    color: #555;
    font-size: 14px;
}